<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-3">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
      <div class="row">
        <div class="form-group">
          <label for="">Email: </label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="btn-wrapper">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isAuthenticated ? "Login" : "Sign up" }}
          </button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isAuthenticated ? "Sign up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
