<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading" class="loading-spinner">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button class="btn btn-primary" [disabled]="!authForm.valid">
          {{ isAuthenticated ? "Login" : "Sign up" }}
        </button>
        <button class="btn btn-danger" style="margin-left: 5px">Cancel</button>
      </div>
      <div>
        <button
          class="btn btn-primary"
          (click)="onSwitchMode()"
          style="margin-top: 10px"
        >
          Switch to {{ isAuthenticated ? "Sign up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
