<div class="row">
  <div class="col-xs-6">
    <form action="" class="form-group">
      <div>
        <input type="number" [defaultValue]="count$ | async" class="form-control"/>
      </div>
      <hr>
      <button class="btn btn-success btn-parser" (click)="onIncrement()">Increment</button>
      <button class="btn btn-danger  btn-parser" (click)="onDecrement()">Decrement</button>
      <button class="btn btn-primary btn-parser" (click)="onClear()" [disabled]="isClearDisabled">Clear</button>
    </form>
  </div>
</div>
