<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <label for="recipeName">Recipe name:</label>
          <input class="form-control" type="text" id="recipeName" name="recpeName" ngModel/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="imageURL">Image URL:</label>
          <input class="form-control" type="text" id="imageURL" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description:</label
          ><input class="form-control"type="text" id="description" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" id="name">
        </div>
        <div class="col-sm-7 form-group">
            <label for="amount">Amount:</label>
            <input class="form-control" type="number" id="amount">
        </div>
      </div>
      <button class="btn btn-success" type="submit">Edit Recipe</button>
    </form>
  </div>
</div>
